@import '../scss/variables';

header{
    text-align: center;
    img{
        width: 400px;
        margin-top:3rem;
    }
}

.langContainer{
    background-color:$backGroundTwo;
    width: 400px;
    border-radius:1rem;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    
    p{
        font-size:2rem;
        font-weight:bold;
        display: inline-block;
    }
    .cards{
        margin:1rem; 
        background-color:$backGroundCard;
        padding:1rem;
        border-radius:1rem;
        
    }
    img{
        width:100px;
    }
}