/* Color Theme Swatches in Hex */
$greenBack: #267365;
$backGroundOne: #F2CB05;
$backGroundTwo: #F29F05;
$backGroundThree: #F28705;
$backGroundFour: #F23030;

/* Color Theme Swatches in Hex */
$orange--teal-1-hex: #025259;
$orange--teal-2-hex: #007172;
$orange--teal-3-hex: #F29325;
$orange--teal-4-hex: #D94F04;
$backGroundCard: #F4E2DE;
